<% form_tag passwords_path do -%>
  <div class="text_field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="submit_field">
    <%= submit_tag "Reset password" %>
  </div>
<% end %>

