<% form_for @user, :url => account_path do |form| %>
  <%= form.error_messages %>
  <%= render :partial => 'evergreen/users/form', :object => form %>
  <div><%= form.submit t('evergreen.accounts.edit.submit') %></div>
<% end %>
